body {
    font-family: 'Anton', sans-serif;
    color: #333;
    background-color: #fff7e9;
}

header {
    background-color: #fff7e9;
    padding: 10px 0;
}

.navbar {
    background-color: #49596e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

.navbar a {
    text-decoration: none;
    color: #fff7e9;
    padding: 10px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #8392a6;
}


main {
    flex: 1 0 auto;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 200px;
}

h1 {
    font-size: 3em;
    margin-bottom: 50px;
    color: #49596e;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.gallery {
display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto); 
  grid-gap: 10px; 
  margin: 20px; 
  padding: 0;
}

.gallery-item {
  width: 100%; 
  height: auto;
} 
.gallery-item img {
  max-width: 100%;
  height: auto;
  display: block;
  }

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease; 
}

.gallery-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; 
}

.gallery-item:hover img {
  transform: scale(1.1); 
}

.gallery-item img {
    transition: filter 0.3s;
}

.gallery-item:hover img {
    filter: brightness(0.2);
}

.gallery-item:hover .gallery-item-text {
  opacity: 1;
}

.grid-item {
    background-color: #C1C0BE;
    width: 540px;
    height: 540px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
}

.grid-item img {
    transition: filter 0.3s;
}

.grid-item:hover img {
    filter: brightness(0.2);
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    font-size: 20px;
    padding: 5px 10px;
}

.grid-item:hover .hover-text {
    opacity: 1;
}

.about-header {
    margin-top: 30px;
    text-align: center;
}

.contact-header {
    margin-top: 30px;
    text-align: center;
}

.image-placeholder {
    position: relative; 
    top: 15px;
    width: 400px;
    height: 500px;
    margin: 20px;
    padding-left:20px;
    object-fit: cover;
}

.wrapper-about {
    position:absolute;
    top: 225px;
    text-align: left;
    margin-left: 500px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 20px;
    padding-bottom: 200px; 
    color: #49596e;
}

.wrapper-contact {
    position:absolute;
    top: 225px;
    text-align: left;
    margin-left: 500px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 20px;
    padding-bottom: 200px; 
    color: #49596e;
}

form {
    font-family: Arial, sans-serif;
    max-width: 400px;
    background-color: #49596e;
    padding: 20px;
    border-radius: 10px;
}

form header {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}

textarea {
    height: 100px;
}

.name-fields {
    display: flex;
    justify-content: space-between;
}

.name-fields input[type="text"] {
    width: 48%; 
}

::placeholder {
    color: #49596e;
}

input[type="submit"] {
    background-color: #fff7e9;
    color: #49596e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 20px;
    display: block;
    width: 100%;
    }

table {
    font-family: Arial, sans-serif;
    width: 100%;
    background-color: #e6e6e6;
    margin-bottom: 20px;

}
footer {
    position: fixed;   
    bottom: 0;
    height: 75px;
    left:0px;
    right:0px; 
    background-color: #49596e;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #e0e0e0;
    padding: 20px 0;
    flex-shrink: 0;
}


footer a {
    color: #fff7e9;
    text-decoration: none;
    margin: 15px;
}

footer a:hover {
    text-decoration: underline;
}

.testimonial-div {
            font-family: Arial, sans-serif;
            background: #49596e;
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
.testimonial-container {
            background: #ffffff;
            padding: 40px;
            margin: 20px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            position: relative;
            width: 400px; 
        }
        
.quote {
            font-size: 5em;
            color: #cccccc;
        }
        
.quote:first-child {
            position: absolute;
            top: -10px;
            left: -10px;
        }
        
.quote:last-child {
            position: absolute;
            bottom: -10px;
            right: -10px;
        }
        
.testimonial-text {
            font-size: 1em;
            line-height: 1.5;
            color: #333333;
            margin: 50px 0; 
        }

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar a {
    margin-bottom: 10px;
  }

  .main,
  .wrapper-about,
  .wrapper-contact {
    margin: 20px;
    padding: 20px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item,
  .image-placeholder {
    width: 100%;
    height: auto;
  }

  .wrapper-about,
  .wrapper-contact {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }

  .name-fields input[type="text"] {
    width: 100%; 
  }

  .testimonial-container {
    width: 90%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 576px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .grid-item,
  .image-placeholder {
    width: calc(100% - 40px); 
  }

  .form {
    width: calc(100% - 40px); 
  }

  .testimonial-container {
    width: calc(100% - 40px); 
}

